<!DOCTYPE html>
<html lang="es">

  <body class="container">
    <div class="bg-light p-4 my-1 mx-auto">
      <h1 class="text-primary mb-5">Vista de productos</h1>

      {{#if emptyProds }}

      <table class="table">
        <thead >
          <tr class="table-dark">
            <th class="col-6">Nombre</th>
            <th class="col-3">Precio</th>
            <th class="col-3">Foto</th>
          </tr>
        </thead>
        <tbody>
          {{#each productos}}

          <tr class="table-dark align-middle">
            <td>{{producto.title}}</td>
            <td>{{producto.price}}</td>
            <td>
              <img src={{producto.thumbnail}} style="height: 32px;" alt="imagen de producto"/>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      {{else}}

      <div class="p-3 mb-4">
        <h3 class="alert alert-warning" role="alert">No se encontraron productos</h3>
      </div>

      {{/if}}

      {{> back }}
    </div>
  </body>
  {{bootstrap_footers}}
</html>
